body,html,#app{
    height:100%;
    margin:0;
    padding: 0;
    min-width: 1366px;
}
.my-card{
    margin-top:10px;
    margin-bottom:10px;
    text-align:left
}
.el-table {
    margin-top:15px;
}
.el-breadcrumb{
    margin-bottom:15px;
}
.block{
    margin-top: 10px;
}
/* 编辑框的高度 */
.ql-editor{
    min-height: 200px;
}
.el-dialog{
    text-align: left;
}